/* Nesta folha se encontra todas os seletores que não são comuns entre as paginas, estilos que são da pagina index.hmtl */

.imagens_redes_sociais {
    padding-top: 10px;
    width: 4%;
    margin-left: 15px;
}