* {
    margin: 0;
}

.foto_perfil {
    border-radius: 50%;
    width: 70%;
    margin-top: 50%;
}

body,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
}

main,
section {
    width: 100%;
    height: 100%;
}

.section_menu {
    height: 100%;
    width: 20%;
    float: left;
}

.section_conteudo {
    height: 100%;
    float: right;
    width: 80%;
    vertical-align: bottom;
}

.menu {
    background-color: #9b641d;
    height: 100%;
    text-align: center;
}

.conteudo {
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
}

.lista_menu {
    list-style-type: none;
    margin-right: 50px;
}

.link_hover {
    padding-top: 15px;
}

.link_hover :hover {
    color: black;
}

.link_menu {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.link_menu :hover {
    color: black;
}

.imagens_redes_sociais {
    padding-top: 10px;
    width: 4%;
    margin-left: 15px;
}

.imagens_hardskills {
    width: 4%;
}

.text_hardSkils {
    padding-left: 15px;
    font-size: 25px;
}

.formata_h1 {
    padding-top: 10%;
    font-size: 50px;
}

.formata_cor_palavra {
    color: #9b641d;
}

.formata_paragrafo {
    padding-top: 15px;
    text-align: justify;
    font-size: 14px;
}

.educacao_trabalho {
    color: #9b641d;
}

.educacao_trabalho :hover {
    color: black;
}